# Ignorar o arquivo de chave do Firebase
firebase_key.json

# Ignorar o arquivo de variáveis de ambiente (dotenv)
.env

# Ignorar diretórios de dependências Python
venv/
__pycache__/

# Ignorar arquivos de configuração do editor (se estiver usando o VSCode)
.vscode/

# Ignorar arquivos temporários de sistema (macOS/Windows)
.DS_Store
Thumbs.db

# Ignorar arquivos de backup de editores
*~
